---
layout: default
title: Hello
---

<section class="sneakpeek" id="services">
  <aside>
    <ul>
      <li>March 1989<p>The W3 begins as a CERN project</p></li>
      <li>November 1993<p>CERN places its W3 technology in the public domain, donating it to the world</p></li>
      <li>October 1995<p>Amazon.com opens for business, billing itself as the “Earth’s Biggest Bookstore”</p></li>
      <li>September 1997<p>Google.com registers as a domain</p></li>
      <li>December 2001<p>Jimmy Wales launches Wikipedia</p></li>
    </ul>
  </aside>
  <article>
    <h1>Making software<br>Delightful.</h1>
    <p>Almighty Couch is a small, independent studio located in Innsbruck, Austria.
      We specialize in desktop and mobile application development with work expanding to websites, user interfaces and marketing material for clients of all sizes on every development platform.</p>
    <p>We are creative, passionate and vastly knowledgeable, which reflects in the attention to detail in our products. We are motivated every day to raise the bar in the work we create.</p>
    <p>Whether it's creating your app from scratch or consulting for your product, we have the skill to help you make your next project great.</p>
    {% include services-launch-icon.svg %}
  </article>
  <aside>
    <ul>
      <li>April 2003<p>Apple launches the iTunes Music Store with 200,000 songs at 99¢ each</p></li>
      <li>February 2004<p>Harvard student Mark Zuckerberg launches Facebook</p></li>
      <li>February 2005<p>YouTube is founded, Google acquires the company a year later</p></li>
    </ul>
  </aside>
  <article>
    <h2>Strategy and Management</h2>
    <p>
      {% include services-strategy-icon.svg %}
      Not quite sure what you need? We’re here to help. Show us what you have, and we’ll chart a course that will get you closer to your goal.
      We provide structure, guidance and collaboration to drive your project from strategic, exploratory thinking through tactical implementation.</p>
    <h2>Development</h2>
    <p>
      {% include services-development-icon.svg %}
      Right down to development, we know what it takes to build a wonderful product.
      With our experienced  developers, you can take advantage of our expertise to help you through user-interface challenges and subtle implementation details.
      Mobile, cloud, or desktop — we've got you covered.</p>
    <h2>Digital Marketing</h2>
    <p>
      {% include services-branding-icon.svg %}
      We believe in creating lasting value for brands rather than disposable digital marketing. That means we focus on building products, experiences and platforms that have the power to transform a brand.
      We help add value to companies by designing clear corporate id, captivating websites and everthing you need to give visibility to your products.
      Through intuitive design we craft brands that communicate a businesses personality and values to get our clients noticed.
    </p>
  </article>
  <aside>
    <ul>
      <li>July 2006<p>Twitter launches, founder Jack Dorsey sends the first tweet: “just setting up my twttr”</p></li>
      <li>June 2007<p>Apple releases its first iPhone</p></li>
      <li>January 2008<p>HTML5 is introduced</p></li>
      <li>July 2008<p>The iTunes App Store is launched by Apple</p></li>
      <li>October 2008<p>First Android smartphone is released</p></li>
      <li>February 2010<p> Facebook reaches 400 million active users</p></li>
      <li>August 2010<p>Social photo-sharing sites Pinterest and Instagram are founded</p></li>
      <li>October 2010<p>Apple releases the iPad</p></li>
      <li>July 2012<p>South Korean music star PSY’s “Gangnam Style” video surpasses Justin Bieber’s “Baby” as the most viewed video ever, with over 800 million views</p></li>
      <li>April 2012<p>The Internet Society founds the Internet Hall of Fame to “celebrate people who bring the internet to life.”</p></li>
    </ul>
  </aside>
  <aside>
    <ul>
      <li>January 2013<p>A majority (56%) of Americans now own a smartphone of some kind</p></li>
      <li>February 2013<p>Crowdfunding platform Kickstarted is founded</p></li>
      <li>May 2013<p>NSA contractor Edward Snowden turns over thousands of classified documents to media organizations, exposing a top-secret government data surveillance program</p></li>
      <li>September 2013<p>Apple says app store downloads top 40 billion, with 20 billion in 2012 alone</p></li>
      <li>January 2014<p>Registration begins for the first few of hundreds new Latin gTLDs, including .guru, .bike, .clothing, .holdings, .ventures, .singles, and .plumbing</p></li>
      <li>February 2014<p>Facebook buys messaging app Whatsapp for $19 billion</p></li>
    </ul>
  </aside>
</section>
<section class="sneakpeek" id="process">
    <div class="vidcontainer">
      <video autoplay="" loop="" muted="">
        <source src="/assets/vid/process-bg.mp4" type="video/mp4">
        <source src="/assets/vid/process-bg.webm" type="video/webm">
      </video>
    </div>
    <article>
      <h1>Our Way to Success</h1>
      <h2>When it comes to our development process,<br />we like to keep things simple.</h2>
      <ul class="steps">
        <li>
          <div class="icon"><a>{% include process-analysis-icon.svg %}</a></div>
        </li>
        <li>
          <div class="icon"><a>{% include process-design-icon.svg %}</a></div>
        </li>
        <li>
          <div class="icon"><a>{% include process-development-icon.svg %}</a></div>
        </li>
        <li>
          <div class="icon"><a>{% include process-deployment-icon.svg %}</a></div>
        </li>
      </ul>
    </article>
</section>
