<header {% if layout.skip-hero %}class="placeholder"{% endif %}>
  {% unless layout.skip-hero %}
  <section class="hero">
    <figure>
      <img src="/assets/img/logo.svg" alt="Logo" />
      <figcaption>{{ site.title }}</figcaption>
    </figure>
  </section>
  {% endunless %}
  <nav {% if layout.skip-hero %}class="sticky"{% endif %}>
    <a href="/" class="logo">
      <img src="/assets/img/logo-navbar.svg" alt="Logo" />
    </a>
    <div class="navbar">
      <ul class="shortcuts">
        {% for link in site.shortcuts %}
          {% assign size = link.href | size %}
          {% assign base = page.url | slice: 0, size %}
          <li{% if link.href == base %} class="active"{% endif %}>
              <a href="{{ link.href }}"><i class="icon-{{ link.icon }}"></i>&nbsp;{{ link.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <ul role="navigation">
        <li><a href="/#services">Services</a></li>
        <li><a href="/#process">Process</a></li>
        <li><a href="/#work">Work</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
