ul.posts {
  margin: 60px 0 0;
  padding: 0;

  li {
    list-style-type: none;

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    h2 {
      margin: 20px 0 0;
      font-size: 24px;
      font-weight: 700;
      font-family: $font-family-sans-alt;
      text-transform: none;
      letter-spacing: 0;
      a {
        color: $color-base;
      }
    }

    p.summary {
      font-family: $font-family-freight;
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      -webkit-font-smoothing: antialiased;
      letter-spacing: .6px;
      color: $color-base2;
    }
  }
}
