article.post {
  section.header {
    margin-top: 60px;
    text-align: center;

    h1 {
      max-width: 75%;
      margin: 0 auto;
      font-family: $font-family-sans-alt;
      font-size: 36px;
      font-weight: 900;
      text-transform: none;
      letter-spacing: 0;
      line-height: 52px;
      -webkit-font-smoothing: antialiased;
    }

    hr {
      margin: 30px 0 60px 0;
    }
  }

  section.content {
    h1, h2, h3, h4 {
      position: relative;
      margin: 0;
      padding-bottom: 8px;
      color: #666;
      font-weight: 900;
      text-transform: none;

      &:before {
        position: absolute;
        left: -50px;
        width: 35px;
        color: #eee;
        text-align: right;
      }
    }

    h1 {
      padding-top: 48px;
      font-size: 32px;
      letter-spacing: .8px;
      line-height: 40px;
      -webkit-font-smoothing: antialiased;
      &:before {
        content: "#";
        font-family: $font-family-sans;
        line-height: 50px;
      }
    }

    h2 {
      padding-top: 32px;
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 32px;
      &:before {
        content: "##";
        font-family: $font-family-sans;
        line-height: 40px;
      }
    }

    h3 {
      padding-top: 8px;
      font-size: 20px;
      letter-spacing: .8px;
      line-height: 24px;
      &:before {
        content: "###";
        font-family: $font-family-sans;
        line-height: 28px;
      }
    }

    img {
      display: block;
      max-width: 100%;
      padding: 30px 0;
      margin-left: auto;
      margin-right: auto;
    }

    p, li {
      font: 18px $font-family-freight;
      letter-spacing: .8px;
      line-height: 32px;
      text-align: justify;
    }

    ul {
      padding-left: 20px;

      li {
        list-style-type: circle;
      }
    }

    ol {
      padding-left: 24px;
    }

    blockquote {
      margin: 15px 0 15px -30px;
      padding-left: 25px;
      border-left: 5px solid $color-alt2;

      p {
        color: #939ca3;
        font-weight: 500;
      }
    }

    .highlighter-rouge {
      font-family: $font-family-monospace;
      font-size: 14px;
      font-style: normal;
      line-height: 24px;

      pre.highlight {
        margin-left: -50px;
        border: 1px solid $color-alt2;
        overflow-y: hidden;

        table.rouge-table {
          width: 100%;
          border-collapse: collapse;

          tr td {
            &.rouge-gutter {
              padding: 0 15px;
              border-right: 1px solid $color-alt2;
              pre {
                width: 18px;
                text-align: right;
              }
            }

            &.rouge-code {
              width: 100%;
              padding: 0 10px;
              background-color: $color-alt3;
              overflow-y: hidden;
            }
          }
        }
      }
    }

    code.highlighter-rouge {
      padding: 3px 2px 1px 2px;
      border: 1px solid $color-alt2;
      border-radius: 2px;
      background-color: $color-alt3;
    }
  }
}
