article.post {
  padding: 0 60px;

  @include grid-media($medium-screen-grid) { padding: 0 60px; }
  @include grid-media($large-screen-grid) { padding: 0 120px; }

  section.header {
    margin-top: 60px;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 60px;
      line-height: 65px;
    }

    p.meta {
      font-size: 18px;
      line-height: 34px;
      letter-spacing: 0.2px;

      span {
        padding-right: 4px;

        &.author {
          color: $color-active;
          font-weight: 500;
          text-transform: uppercase;
        }

        &.date {
          text-transform: uppercase;
        }
      }
    }

    hr {
      margin: 60px 0 80px 0;
    }
  }

  section.content {
    h1, h2, h3, h4 {
      position: relative;
      margin: 0;
      padding-bottom: 8px;
      font-family: $font-family-sans;
      font-weight: 700;
      color: $color-base2;
      letter-spacing: 0;
      text-transform: none;

      &:before {
        position: absolute;
        left: -50px;
        width: 35px;
        color: #eee;
        text-align: right;
      }
    }

    h1 {
      padding-top: 48px;
      font-size: 32px;
      line-height: 32px;
      &:before {
        content: "#";
      }
    }

    h2 {
      padding-top: 32px;
      font-size: 22px;
      line-height: 32px;
      &:before {
        content: "##";
      }
    }

    h3 {
      padding-top: 8px;
      font-size: 18px;
      line-height: 24px;
      &:before {
        content: "###";
      }
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    p, li {
      font: 18px $font-family-freight;
      letter-spacing: .8px;
      line-height: 32px;
      text-align: justify;
    }

    ul {
      padding-left: 20px;

      li {
        list-style-type: circle;
      }
    }

    blockquote {
      margin: 15px 0 15px -50px;
      padding-left: 45px;
      border-left: 5px solid $color-alt2;
    }

    .highlighter-rouge {
      font-family: $font-family-monospace;
      font-size: 14px;
      font-style: normal;
      line-height: 24px;
    }

    .highlight {
      margin-left: -50px;
      border: 1px solid $color-alt2;

      table {
        width: 100%;

        tr td {
          &.gutter {
            padding: 0 15px;
            border-right: 1px solid $color-alt2;
            pre {
              width: 18px;
            }
          }

          &.code {
            width: 100%;
            padding: 0 10px;
            background-color: $color-alt3;
            overflow-y: hidden;
          }
        }
      }
    }

    code.highlighter-rouge {
      padding: 3px 2px 1px 2px;
      border: 1px solid $color-alt2;
      border-radius: 2px;
      background-color: $color-alt3;
    }
  }
}
