section#process {
  @include grid-container;

  .vidcontainer {
    position: absolute;
    width: 100%; height: 100vh;
    left: 0; right: 0;
    background-image: url(../img/process-bg.jpg);
    background-size: cover;

    &:after {
      content: "";
      position: absolute;
      width: 100%; height: 100%;
      background: linear-gradient(160deg, rgba(36, 174, 214, 0.3), rgba(9, 128, 171, 0.1));
    }

    video {
      position: absolute;
      max-height: 100%;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
    }
  }

  article {
    position: relative;
    padding: 60px 0;
    color: white;
    text-align: center;

    h1, h2 {
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    h2 {
      &:after {
        display: block;
        width: 140px;
        margin: 20px auto 60px;
        content: "";
        border-bottom: 2px solid white;
      }
    }
  }
}
