section#services {
  @include grid-container;

  padding-top: 120px;

  article {
    position: relative;
    padding: 0 35px;

    &:first-of-type {
      svg {
        position: absolute;
        right: 50px;
        width: 150px;
        height: auto;
      }
    }

    &:nth-child(2) {
      margin-bottom: 20px;
    }

    &:nth-child(4) {
      svg {
        float: right;
        width: 150px;
        height: auto;
        margin-top: 5px;
        margin-left: 35px;
      }
    }
  }

  aside {
    display: none;
    p {
      @include antialiased;
    }

    &:last-child {
      p {
        margin-bottom: 0;
        padding-bottom: 60px;
      }
    }
  }

  @include grid-media($medium-screen-grid) {
    article {
      width: 680px;
      margin: 0 auto;
    }
  }

  @include grid-media($large-screen-grid) {
    article {
      @include grid-column(8);

      padding: 0;

      &:nth-child(2) {
        margin-left: -20px;
        margin-bottom: 0;
      }
      &:nth-child(4) {
        margin-top: -20px;

        &> * {
          padding: 0 35px;
        }
      }
    }

    aside {
      display: block;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          width: 200px;
          margin-left: -10px;
          padding-top: 3px;
          padding-left: 35px;
          background: url("../img/services-timeline-dot.png") no-repeat left 10px;
          background-size: 15px 15px;
          font-weight: 500;
          font-size: 12px;
          line-height: 30px;
          color: #ddd;
          letter-spacing: 0.5px;

          &:hover {
            color: $color-active;
            background-image: url("../img/services-timeline-dot-active.png");
          }

          p {
            margin-top: 0;
            color: #444;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 16px;
          }
        }
      }

      &:nth-child(1) {
        @include grid-column(4);

        position: relative;
        margin-top: 80px;
        margin-left: 28px;
        border-left: 5px solid #ddd;

        ul {
          padding-top: 40px;
        }

        &:before {
          position: absolute;
          width: 60px; height: 60px;
          top: -60px; left: -50px;
          content: "";
          background-image: url("/assets/img/services-timeline-history.svg");
        }
      }

      &:nth-child(3) {
        @include grid-column(8);

        position: relative;
        height: 100px;
        margin-left: 28px;
        margin-bottom: 40px;
        padding: 5px;

        ul {
          position: relative;
          height: 100px;

          li {
            height: 100px;
            float: left;
            padding-bottom: 10px;

            &:not(:first-child) {
              padding-left: 20px;
              background-position: 40px 95px;
            }
          }
        }

        &:before {
          position: absolute;
          pointer-events: none;
          top: 0; left: 0;
          right: 58px; bottom: 0;
          content: "";
          border-left: 5px solid #ddd;
          border-bottom: 5px solid #ddd;
          border-bottom-left-radius: 50px;
        }

        &:after {
          position: absolute;
          top: 105px;
          right: 5px;
          margin-right: 8px;
          width: 40px;
          height: 40px;
          content: "";
          border-top: 5px solid #ddd;
          border-right: 5px solid #ddd;
          border-top-right-radius: 50px;
        }
      }

      &:nth-child(5) {
        @include grid-column(4);

        margin-left: 0;
        padding-bottom: 10px;
        border-left: 5px solid #ddd;
      }

      &:nth-child(6) {
        @include grid-column(8);

        position: relative;

        ul {
          position: relative;
          left: 75%;
          border-left: 5px solid #ddd;
          margin-top: 85px;
          padding-top: 10px;


          li {
            &:first-child {
              position: absolute;
              top: -85px; left: 50px;
              padding-top: 60px;
              background-position: 40px 35px;
            }

            &:nth-child(even) {
              margin-left: -270px;
              padding-right: 50px;
              text-align: right;
              background-position: 260px 10px;
            }
          }
        }

        &:before {
            position: absolute;
            top: 40px;
            right: 40px;
            left: 75%;
            height: 40px;
            content: "";
            border-top: 5px solid #ddd;
            border-left: 5px solid #ddd;
            border-top-left-radius: 50px;
        }

        &:after {
            position: absolute;
            top: 0; right: -5px;
            width: 40px;
            height: 40px;
            content: "";
            border-bottom: 5px solid #ddd;
            border-right: 5px solid #ddd;
            border-bottom-right-radius: 50px;
        }
      }
    }
  }
}
