section#work {
  @include grid-container;

  position: relative;
  margin-left: -30px;
  margin-right: -30px;
  padding: 60px 30px;
  background: url(../img/work-map.png) center 60px no-repeat;

  .head {
    text-align: center;

    h2 {
      color: #999;
    }
  }

  .tiles {
    min-height: 520px;
  }

  .more {
    p {
      text-align: center;
    }
  }
}
