@mixin antialiased {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: DINWeb;
  font-style: normal;
  font-weight: 300;
  src: url(asset_path("dinweb-light.woff")) format("woff");
}

@font-face {
  font-family: DINWeb;
  font-style: italic;
  font-weight: 300;
  src: url(asset_path("dinweb-light-italic.woff")) format("woff");
}

@font-face {
  font-family: DINWeb;
  font-style: normal;
  font-weight: 400;
  src: url(asset_path("dinweb-regular.woff")) format("woff");
}

@font-face {
  font-family: DINWeb;
  font-style: italic;
  font-weight: 400;
  src: url(asset_path("dinweb-italic.woff")) format("woff");
}

@font-face {
  font-family: DINWeb;
  font-style: normal;
  font-weight: 500;
  src: url(asset_path("dinweb-medium.woff")) format("woff");
}

@font-face {
  font-family: DINWeb;
  font-style: italic;
  font-weight: 500;
  src: url(asset_path("dinweb-medium-italic.woff")) format("woff");
}

@font-face {
  font-family: DINWeb;
  font-style: normal;
  font-weight: 700;
  src: url(asset_path("dinweb-bold.woff")) format("woff");
}

@font-face {
  font-family: DINWeb;
  font-style: italic;
  font-weight: 700;
  src: url(asset_path("dinweb-bold-italic.woff")) format("woff");
}

@font-face {
  font-family: DINWeb;
  font-style: normal;
  font-weight: 900;
  src: url(asset_path("dinweb-black.woff")) format("woff");
}

@font-face {
  font-family: DINWeb;
  font-style: italic;
  font-weight: 900;
  src: url(asset_path("dinweb-black-italic.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: normal;
  font-weight: 300;
  src: url(asset_path("dinweb-cond-light.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: italic;
  font-weight: 300;
  src: url(asset_path("dinweb-cond-light-italic.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: normal;
  font-weight: 400;
  src: url(asset_path("dinweb-cond-regular.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: italic;
  font-weight: 400;
  src: url(asset_path("dinweb-cond-italic.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: normal;
  font-weight: 500;
  src: url(asset_path("dinweb-cond-medium.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: italic;
  font-weight: 500;
  src: url(asset_path("dinweb-cond-medium-italic.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: normal;
  font-weight: 700;
  src: url(asset_path("dinweb-cond-bold.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: italic;
  font-weight: 700;
  src: url(asset_path("dinweb-cond-bold-italic.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: normal;
  font-weight: 900;
  src: url(asset_path("dinweb-cond-black.woff")) format("woff");
}

@font-face {
  font-family: DINWeb-Cond;
  font-style: italic;
  font-weight: 900;
  src: url(asset_path("dinweb-cond-black-italic.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: normal;
  font-weight: 300;
  src: url(asset_path("calluna-sans-light.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: italic;
  font-weight: 300;
  src: url(asset_path("calluna-sans-light-italic.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: normal;
  font-weight: 400;
  src: url(asset_path("calluna-sans-regular.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: italic;
  font-weight: 400;
  src: url(asset_path("calluna-sans-italic.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: normal;
  font-weight: 500;
  src: url(asset_path("calluna-sans-medium.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: italic;
  font-weight: 500;
  src: url(asset_path("calluna-sans-medium-italic.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: normal;
  font-weight: 700;
  src: url(asset_path("calluna-sans-bold.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: italic;
  font-weight: 700;
  src: url(asset_path("calluna-sans-bold-italic.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: normal;
  font-weight: 900;
  src: url(asset_path("calluna-sans-black.woff")) format("woff");
}

@font-face {
  font-family: "Calluna Sans";
  font-style: italic;
  font-weight: 900;
  src: url(asset_path("calluna-sans-black-italic.woff")) format("woff");
}
