$large-screen-size: 1024px;
$medium-screen-size: 800px;

$color-base: #444;
$color-alt: #0980ab;

$color-link: $color-alt;

$font-family-sans: DINWeb, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-alt: "Calluna Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-condensed: DINWeb-Cond, $font-family-sans;
