$color-base: #444;
$color-base2: #959595;
$color-alt: #0980ab;
$color-alt2: #d5e3ed;
$color-alt3: #f7f9fc;
$color-alt4: #526975;
$color-active: $color-alt;

$font-family-sans: DINWeb, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-alt: "Calluna Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-condensed: DINWeb-Cond, $font-family-sans;
$font-family-freight: freight-text-pro, Georgia, "Cambria", "Times New Roman", Times, serif;
$font-family-monospace: courier-prime, monaco, monospace;

$large-screen-size: 1044px;
$large-screen-grid: (media: $large-screen-size);

$medium-screen-size: 800px;
$medium-screen-grid: (media: $medium-screen-size);
