$color-base: #444;
$color-alt: #0980ab;

$color-link: $color-alt;

$font-family-sans: DINWeb, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-alt: "Calluna Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-condensed: DINWeb-Cond, $font-family-sans;
$font-family-freight: freight-text-pro, Georgia, "Cambria", "Times New Roman", Times, serif;
$font-family-monospace: courier-prime, monaco, monospace;

$large-screen-size: 1044px;
$large-screen-grid: (media: $large-screen-size);

$medium-screen-size: 800px;
$medium-screen-grid: (media: $medium-screen-size);
